{{ define "navbar" }}
<nav
  class="bg-[#1f2025] h-14 flex items-center justify-between px-6 text-white fixed w-full z-10"
>
  <div class="flex items-center space-x-2">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="24"
      height="24"
      viewBox="0 0 24 24"
      fill="none"
      stroke="currentColor"
      stroke-width="2"
      stroke-linecap="round"
      stroke-linejoin="round"
      class="w-6 h-6"
    >
      <line x1="6" x2="10" y1="12" y2="12"></line>
      <line x1="8" x2="8" y1="10" y2="14"></line>
      <line x1="15" x2="15.01" y1="13" y2="13"></line>
      <line x1="18" x2="18.01" y1="11" y2="11"></line>
      <rect width="20" height="12" x="2" y="6" rx="2"></rect>
    </svg>
    <span class="font-bold text-lg tracking-wide text-blue-500 uppercase"
      >Betrayal</span
    >
    <span class="font-bold text-lg tracking-wide">Discord Game</span>
  </div>
  <div class="flex space-x-4">
    <a href="#" class="hover:text-blue-500 transition-colors duration-200">
      Home
    </a>
    <a href="#" class="hover:text-blue-500 transition-colors duration-200">
      About
    </a>
    <a href="#" class="hover:text-blue-500 transition-colors duration-200">
      Contact
    </a>
  </div>
</nav>
{{ end }}
